@page "{id:int?}"
@model Ghete_Maria_Elena_L2.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryData.Categories.First().CategoryName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryData.Categories)
        {
            string selectedRow = item.ID == Model.CategoryID ? "table-success" : "";
            <tr class="@selectedRow">

                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CategoryData.Books != null)
{
    <h3>Books in Selected Category</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.CategoryData.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}